<div class="container mt-2">
  <div class="row">
    <div class="col-md-8 col-s-12 ">
      <h3>Favorite Authors</h3>
      <div *ngIf="authors.length > 0">
        <div *ngFor="let author of authors">
          <div class="card mt-2 mb-2">
            <div class="card-body">
              <h5 class="card-title">{{ author.name }}</h5>
              <a class=" btn btn-primary" href="/edit/{{author._id}}">Edit</a>

              <button
                class="m-2 btn btn-primary"
                (click)="deleteAuthor(author._id)"
              >
                Delete
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <!--The content below is only a placeholder and can be replaced.-->
</div>
